<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Success</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        text-align: center;
        padding: 20px;
        background: #ebf0f5;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
      }

      .container {
        width: 100%;
        max-width: 400px;
      }

      .card {
        background: white;
        padding: 40px 20px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #c8d0d8;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .checkmark-circle {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background: #f8faf5;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .checkmark {
        color: #9abc66;
        font-size: 80px;
        line-height: 150px;
      }

      h1 {
        color: #88b04b;
        font-weight: 900;
        font-size: 32px;
        margin: 20px 0 10px;
      }

      p {
        color: #404f5e;
        font-size: 18px;
        margin: 0 0 20px;
      }

      .button {
        background-color: #88b04b;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .button:hover {
        background-color: #7a9d43;
      }

      @media (max-width: 480px) {
        .card {
          padding: 30px 15px;
          height: 20rem;
          /* height: fit-content; */
        }

        .checkmark-circle {
          height: 120px;
          width: 120px;
        }

        .checkmark {
          font-size: 60px;
          line-height: 120px;
        }

        h1 {
          font-size: 28px;
        }

        p {
          font-size: 21px;
        }

        .button {
          font-size: 14px;
          padding: 8px 16px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="checkmark-circle">
          <span class="checkmark">✓</span>
        </div>
        <h1>Success</h1>
        <p>Payment Received Successfully!</p>
        <button class="button" onclick="navigateToUrl()">Continue</button>
      </div>
    </div>

    <script>
      function navigateToUrl() {
        window.location.href = "<%= redirectUrl %>"; // Dynamic URL
        localStorage.removeItem("carts")
      }
    </script>
  </body>
</html>
