.modals {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px !important;
    height: 300px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
  }
  
  .modals-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  