<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    .social-media {
      position: fixed;
      left: 0;
      bottom: 2rem;
      z-index: 999;
    }

    @media (max-width:417px) {
      .social-media{
        bottom: 4rem !important;
      }
    }
    @media screen and (max-width:991px) {
  .social-media {
    padding: 0;
    justify-content: start;
  }}
  </style>
</head>

<body>
  <div class="footer-menu" id="social-icons">
    <div class="social-links mt-3">
      <ul class=" list-unstyled gap-3 social-media">
        <li style="background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);margin-bottom: 4px;
            ">
          <a href="<%= facebook_link %>" target="_blank" class="btn btn-outline-light">
            <img height="25px" width="25px" src="images/facebook.png" alt="facebook" loading="lazy">
          </a>
        </li>

        <li style="background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);margin-bottom: 4px;
            ">
          <a href="<%= instagram_link %>" target="_blank"  class="btn btn-outline-light">
            <img height="25px" width="25px" src="images/instagram.png" alt="instagram" loading="lazy">
          </a>
        </li>
        <li style="background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            ">
          <a href="https://api.whatsapp.com/send/?phone=<%= whatsapp_number %>&text=Hello+there%21&type=phone_number&app_absent=0"
            target="_blank" class="btn btn-outline-light">
            <img height="25px" width="25px" src="images/whatsapp.png" alt="whatsapp" loading="lazy">
          </a>
        </li>

      </ul>
    </div>
  </div>
</body>

</html>