<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/png" href="/images/Rasyyaan.png">

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/popup.css"> 

    <script src="/javascripts/jquery-1.11.0.min.js"defer></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"defer></script>
  <style>
    body {
      box-sizing: border-box;
    }

    .customer {
      max-width: 500px !important;
    }

    .customer:not(.account):not(.order) {
      margin: 0 auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      text-align: center;

    }

    .customer form {
      margin-top: 4rem;
      display: block;
      margin-top: 0em;
      unicode-bidi: isolate;
    }


    .field {
      margin-top: 1.5rem;
      box-sizing: border-box;
      border-radius: 1px solid black;
      border-radius: 0 !important;
    }

    .field input {
      border-radius: 0 !important;
      transition: box-shadow 0.3s ease, border 0.3s ease;
    }

    .field input:hover {
      box-shadow: 0 0 0 2px black;
    }

    .field input:active {
      box-shadow: 0 0 0 3px black;
    }



    .button {
      margin-top: 2rem !important;
      background-color: #6BB252 !important;
      padding: 1rem 2rem !important;
      font-weight: lighter !important;
      border-radius: 0 !important;
      transition: 0.5s !important;
    }

    /* .button:hover {
      scale: 1.01;
    } */

    @media (min-width:750px) {
      .customer:not(.account):not(.order) {
        max-width: 47.8rem;
      }
    }
  </style>
</head>

<body>
  <%- include("modal_pop") %>
    <div class="customer register section-template--23394868298020__main-padding">
      <svg style="display: none">
        <symbol id="icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
          <path
            d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
            fill="white"></path>
          <path
            d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
            fill="white" stroke="#EB001B" stroke-width="0.7">
          </path>
        </symbol>
      </svg>
      <div class="forgot-header">
        <h1 style="margin-top: 3rem;font-weight: lighter;font-size: 2rem;">
          Forgot your password?
        </h1>
        <!-- <p style="color: #0070CC;">Please enter the email you used to sign in.</p> -->
      </div>

      <form action="#" id="create_user" accept-charset="UTF-8" data-login-with-shop-sign-up="true"
        novalidate="novalidate"><input type="hidden" name="form_type" value="create_customer"><input type="hidden"
          name="utf8" value="✓">
      
        <div class="field">
          <input type="email" name="email" id="Forgotpassword-email" spellcheck="false" autocapitalize="off"
            autocomplete="email" aria-required="true" placeholder="Email">

        </div>

        <button class="button" type="submit">
          Request Password Reset
        </button>
      </form>
     
    </div>

    <script>
      document.getElementById("create_user").addEventListener("submit", async (e) => {
        e.preventDefault();

        const formBody = {
          email: document.querySelector("[name=email]").value,
        };

        try {
          let response = await fetch("<%= (url_pathname) %>admin/user-login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formBody),
          });

          const responseData = await response.json();

          if (!response.ok) {
            console.error("Error Response:", responseData);

            if (response.status === 401) {
              showPopup("Error", "Invalid email or password.", "Failure");
            } else if (response.status === 400) {
              showPopup("Error", "All fields are required.", "Failure");
            } else {
              showPopup("Error", "An unexpected error occurred.", "Failure");
            }
            return;
          }

          if (responseData.success) {
            // console.log("Login successful:", responseData);
            showPopup("Success", "Logged in successfully", "Success");
            localStorage.setItem("user_detail", JSON.stringify(responseData.token));


            setTimeout(() => {
              window.location.href = responseData.redirectUrl;
            }, 1000)
          } else {
            showPopup("Error", "Login failed due to unknown reasons.", "Failure");
          }
        } catch (error) {
          console.error("Network Error:", error);
          showPopup("Error", "A network error occurred. Please try again.", "Failure");
        }
      });

    </script>

</body>

</html>